body { outline: 8px solid red !important; }


html {
  font-size: 12px; /* 14〜15.5で好み調整 */
}

.post-content {
  line-height: 1.75;
}
body {
  background: linear-gradient(
    180deg,
    #f3f1ec 0%,
    #eef2f4 100%
  );
}

/* コンテンツ部分は透過させて背景になじませる */
.main {
  background: transparent;
}
/* トップページ最初の画像 */
.home .post-content p:first-child img {
  width: 100%;
  border-radius: 18px;
  margin: 8px 0 28px;
}
